<!DOCTYPE html>
<html lang="en">
	<head>
		 <meta charset="utf-8">
		 <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		 <title>Blog SWCM</title>
	</head>
	
	<body>
		 <h1> SWCM</h1>
		 <a href="/">Home</a>
		 <hr />
		<%- body %>
		 <hr />
		 <p>
<<<<<<< HEAD
		 	Curso 2012-2013   
		 	<a href="/about">About</a>
=======
		 	Curso 2012-2013
		 	<a href="about">Home</a>
>>>>>>> About Ok
		 </p>
	</body>
</html>