body {
	background-image: url("/images/bg.jpg");
 	font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
 	color: #FFF;
}

a {
  color: #00B7FF;
}

#div_video{
	width: 98%;
	text-align: center;
}

#desarrolladores {
	text-align: center;
}

#visitas {
	text-align: right;
}